.footer {
    height: 75px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}
.container {
    width: 750px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
@media (max-width: 750px) {
    .footer {
        display: none;
    }
}